.ad-img{
    width: 1190px;
    height: 170px;
    background-color: white;
    margin: 0 17%;
}
.ad-img ul{
    margin: 0;
    padding: 0;
}
.ad-img a{
    margin: 20px 11px 0 2px;
}
.ad-img img{
    width: 375px;
    height: 130px;
    border-radius: 15px;
}
.adactive{
    border: 2px solid red;
}