
.tbn-nav{
    width: 1190px;
    height: 35px;
    background-color: white;
    margin: 0 17%;
    padding-top: 6px;
    line-height: 30px;
    border-radius: 25px 25px 0 0;
    display: block;
}
.nav-ul-l{
    width: 360px;
    height: 35px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.nav-ul-r{
    width: 830px;
    height: 35px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.nav-ul-l li,.nav-ul-r li {
    height: 30px;
    float: left;
    margin: 0 5px;
    padding: 0 5px;
    text-align: center;
    font-size: 14px;
}
.nav-li-1{
    width: 150px;
    color: #FF6200;
    font-weight: bold;
}
.nav-li-2 a{
    color: #FF0036;
    font-weight: bold;
}
.nav-li-3 a{
    color: #33c900;
    font-weight: bold;
}